

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%; width:100%; overflow-x: hidden;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1; font-size: 16px; overflow-x:hidden; height: 100%; font-family: 'din-regularregular'; width: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
ol, ul { list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {border-collapse: collapse; border-spacing: 0;}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6g3ahr');
	src:url('../fonts/icomoon.eot?#iefix-6g3ahr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6g3ahr') format('woff'),
		url('../fonts/icomoon.ttf?-6g3ahr') format('truetype'),
		url('../fonts/icomoon.svg?-6g3ahr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-technology:before {content: "\e60e";}
.icon-check:before 		{content: "\e600";}
.icon-graph:before 		{content: "\e601";}
.icon-info:before 		{content: "\e602";}
.icon-play:before 		{content: "\e603";}
.icon-roundCheck:before {content: "\e604";}
.icon-roundGraph:before {content: "\e605";}
.icon-roundInfo:before 	{content: "\e606";}
.icon-roundWho:before 	{content: "\e607";}
.icon-who:before 		{content: "\e608";}
.icon-close:before      {content: "\e609";}
.icon-compas:before     {content: "\e60a";}
.icon-open:before       {content: "\e60b";}
.icon-stamp:before      {content: "\e60c";}
.icon-tools:before      {content: "\e60d";}

.orange {color:#e77c22 !important;}
.green  {color:#478f73 !important;}
.blue   {color:#4a94eb !important;}
.red 	{color:#d53c4c !important;}
.right {float: right;}
.left  {float: left;}
.p-5   {padding: .5em;}
.p1    {padding: 1em;}
.p-5-0  {padding:.5em 0;}
.p-5-0_5{padding:.5em 0 .5em .25em;}
.p-5-5_0{padding:.5em .25em .5em 0;}
.p1-0  {padding:1em 0;}
.p1-1-0-0  {padding:1em 1em 0 0;}
.p0-1-1-1  {padding:0 1em 1em 1em;}
.p1-5  {padding: 1.5em;}
.p2    {padding:2em;}
.m1    {margin:1em;}
.m1-0-1{margin:1em 0 1em 1em;}
.h100  {height: 100%;}
.h100-1  {height:calc(100% - 2em);}
.h100_5  {height:calc(100% - 1em);}
.h100-1-1  {height:calc(100% - 1em);}
#dashboard {background: url('../images/main_bg.jpg') no-repeat center center fixed; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;background-size: cover;}
.main-wrp  {width:78%; margin: 0 auto; }
.sup {font-size: 50%; vertical-align: super;}
#home {}
#section1 {display:none; height: 100%; width: 100%}
#section2 {display:none; height: 100%; width: 100%}
#section3 {display:none; height: 100%; width: 100%}
#section4 {display:none; height: 100%; width: 100%}
#section5 {display:none; height: 100%; width: 100%}
div#home>div.main-wrp>h1 {text-align: center; width: 100%; font-size:1.4em; color: #fff; font-family: 'dinlight', arial; margin:1em 0;}
div#home>div.home_logo {float: right; width: 17%; margin:0 1em;}
div#home>div#logo img {width: 100%; height: auto;}

#home>.main-wrp>.section {color: #fff;}

#section1btn      		    {text-align: center; position:relative;}
#section1btn>.outer         {display: table; position: absolute; height: 100%; width: 100%;}
#section1btn>.outer>.middle {display: table-cell; vertical-align: middle;}
#section1btn p              {position: absolute; width: 100%; bottom: 1.3em;}
#section1btn>.outer>.middle>.inner { font-family: 'dinbold';}
#section1btn span    		 {width: 100%; display: inline-block; font-size: 3.4em; margin-bottom: .4em;}

#section2btn      		    {text-align: center;  position:relative;}
#section2btn>.outer         {display: table; position: absolute; height: 100%; width: 100%;}
#section2btn>.outer>.middle {display: table-cell; vertical-align: middle;}
#section2btn p 			    {position: absolute; width: 100%; bottom:1.5em;}
#section2btn>.outer>.middle>.inner   {font-family: 'dinbold'; font-size: .9em;}
#section2btn span 		    {width: 100%; display: inline-block; font-size: 3.3em; margin-bottom: .5em;}

#section3btn                {text-align: center; position:relative;}
#section3btn>.outer 	    {display: table; position: absolute; height: 100%; width: 100%;}
#section3btn>.outer>.middle {display: table-cell; vertical-align: middle;}
#section3btn p 				{position: absolute; width: 100%; bottom:1.5em; font-size: .8em;}
#section3btn>.outer>.middle>.inner  {font-family: 'dinmedium'; font-size: .9em;}
#section3btn span 			{width: 100%; display: inline-block; font-size: 5.76em; margin-bottom: 0.1em; margin-top: -.1em;}


#section4btn      		    {text-align: center; position:relative;}
#section4btn>.outer 		{display: table; position: absolute; height: 100%; width: 100%;}
#section4btn>.outer>.middle {display: table-cell; vertical-align: middle;}
#section4btn p 				{position: absolute; width: 100%; bottom:1.5em; font-size: .8em;}
#section4btn>.outer>.middle>.inner	  {font-family: 'dinmedium'; font-size: .9em;}
#section4btn span 			{width: 100%; display: inline-block; font-size: 4.3em; margin-bottom: .3em;}

#section5btn      		    {text-align: center; position:relative;}
#section5btn>.outer 		{display: table; position: absolute; height: 100%; width: 100%;}
#section5btn>.outer>.middle {display: table-cell; vertical-align: middle;}
#section5btn p 				{position: absolute; width: 100%; bottom:1.5em; font-size: .8em;}
#section5btn>.outer>.middle>.inner 	  {font-family: 'dinmedium'; font-size: .9em;}
#section5btn span 			{width: 100%; display: inline-block; font-size: 4.3em; margin-bottom: -1em; margin-top: -.3em;}

/* HOME BUTTONS */
.bg-fade	       {transition: background .25s ease-in-out; -moz-transition: background .25s ease-in-out; -webkit-transition: background .25s ease-in-out; }
#section1btn       {background-color:rgba(231, 124, 24, 0.6); cursor: pointer;}
#section1btn:hover {background-color:rgba(231, 124, 24, 0.9);}
#section2btn       {background-color:rgba(74, 148, 235, 0.6); cursor: pointer;}
#section2btn:hover {background-color:rgba(74, 148, 235, 0.9);}
#section3btn       {background-color:rgba(213, 60, 76, 0.6); cursor: pointer;}
#section3btn:hover {background-color:rgba(213, 60, 76, 0.9);}
#section4btn       {background-color:rgba(238, 238, 238, 0.6); cursor: pointer;}
#section4btn:hover {background-color:rgba(238, 238, 238, 0.9);}
#section5btn       {background-color:rgba(71, 143, 115, 0.6); cursor: pointer;}
#section5btn:hover {background-color:rgba(71, 143, 115, 0.9);}

/* CONTENT BOXES */
.cntBX-left         {height:100%; float:left; width:35%; margin:0; position: relative;}
.cntBX-right        {height:100%; float:right; width:65%; margin:0; position: relative;}
.center-container   {position: relative;}
.center-area        {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.center-area:before {content: ''; display: inline-block; vertical-align: middle; height: 100%; }
.centered           {display: inline-block; vertical-align: middle; width: 92%; line-height: 1.4em}
.center-txt         {text-align: center;}
/* BENEFITS */
#ben_bx1  {width: 25%; font-size:1.3em; float: left; height: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#ben_bx2  {width: 25%; font-size:1.3em; float: left; height: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#ben_bx3  {width: 25%; font-size:1.3em; float: left; height: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
#ben_bx4  {width: 25%; font-size:1.3em; float: left; height: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.grid20_60>div.textsize>div.center-container>div.start-cnt>div.center-area>div.center-txt {font-size:.4em !important; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease;}
.grid60_20         {width:60% !important; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease;}
.grid20_60         {width:13.33333% !important; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease;}
.bdy-cnt           {display: none;}
.start-cnt-wrp     {height:13em; position: relative;}
.ben-icon          {font-size: 3em; width: 85%; display: inline-block; padding-bottom: .2em; margin: 0 .3em .2em .3em;}
#ben_bx1 .ben-icon {border-bottom: 2px solid #4a94eb;}
#ben_bx2 .ben-icon {border-bottom: 2px solid #d53c4c;}
#ben_bx3 .ben-icon {border-bottom: 2px solid #e77c22;}
#ben_bx4 .ben-icon {border-bottom: 2px solid #189674;}
#ben_bx1 .ben-open {color: #4a94eb;}
#ben_bx2 .ben-open {color: #d53c4c;}
#ben_bx3 .ben-open {color: #e77c22;}
#ben_bx4 .ben-open {color: #189674;}
.ben-open          {font-size: 1.5em; position: absolute; bottom: 0; width: 100%; }
.ben-open:hover    {cursor: pointer;}
.ben-open span     {margin:0 auto;}
.bdy-cnt           {position: relative; padding: 2em; display: none; }
/*.grid60_20 .bdy-cnt {display: block !important; } */
.bdy-close         {position: absolute; top: 1em; right: 1em;}
#ben_bx1 .ben-bdy-title     {width: 100%; float: left; border-bottom: 2px solid  #4a94eb; margin: .5em 0 1em 0;}
#ben_bx1 .ben-bdy-title span{margin: .1em 0 0 .5em; float: left; font-size: 1.1em;}
#ben_bx1 .ben-bdy-title h4  {width: 87%; float: right; border-left: 2px solid #4a94eb; padding:.2em 0 .2em .3em; margin-bottom: .2em;}
#ben_bx2 .ben-bdy-title     {width: 100%; float: left; border-bottom: 2px solid  #d53c4c; margin: .5em 0 1em 0;}
#ben_bx2 .ben-bdy-title span{margin: .5em 0 0 .5em; float: left; font-size: 1.1em;}
#ben_bx2 .ben-bdy-title h4  {width: 87%; float: right; border-left: 2px solid #d53c4c; padding:.2em 0 .2em .3em; margin-bottom: .2em;}
#ben_bx3 .ben-bdy-title     {width: 100%; float: left; border-bottom: 2px solid  #e77c22; margin: .5em 0 1em 0;}
#ben_bx3 .ben-bdy-title span{margin: .1em 0 0 .5em; float: left; font-size: 1.1em;}
#ben_bx3 .ben-bdy-title h4  {width: 87%; float: right; border-left: 2px solid #e77c22; padding:.2em 0 .2em .3em; margin-bottom: .2em;}
#ben_bx4 .ben-bdy-title     {width: 100%; float: left; border-bottom: 2px solid  #189674; margin: .5em 0 1em 0;}
#ben_bx4 .ben-bdy-title span{margin: .1em 0 0 .5em; float: left; font-size: 1.1em;}
#ben_bx4 .ben-bdy-title h4  {width: 87%; float: right; border-left: 2px solid #189674; padding:.2em 0 .2em .3em; margin-bottom: .2em;}
.ben-bdy-cnt ul             {list-style-type: none; padding: 0; float: left; margin-left:3em;}
.ben-bdy-cnt ul li:before   {content: "\00BB \0020"; float: left; margin-left:-1em; color: #fff; font-family:'dinmedium';}
.ben-bdy-cnt ul li h5       {color: #fff; text-transform: uppercase;}
.ben-bdy-cnt ul li          {color: #282a32; font-size: .6em; margin-top:2em;}
/* WHO IS RIGHT MANIGMENT */
.h1_3    {float: left; height:33.33333333%; width: 100%;}
.h1_6    {float: left; height:66.66666666%; width: 100%;}
.flipBx1, .flipBx2 ,.flipBx3 {height: calc(100% - 1em); float: left; width: 100%; position: relative;}

.flipBx1 .bgLT-blue  { background-image:url(../images/flipcard1bg.png); background-repeat: no-repeat; background-size: contain;}
.flipBx2 .bgLT-red   { background-image:url(../images/flipcard2bg.png); background-repeat: no-repeat; background-size: contain;}
.flipBx3 .bgLT-orange{ background-image:url(../images/flipcard3bg.png); background-repeat: no-repeat; background-size: contain;}
.hideopen .top1, .hideopen .top2, .hideopen .top3  {display: none !important;}
.hideclose .revert1, .hideclose .revert2, .hideclose .revert3  {display: none !important;}
#flipPad1, #flipPad2, #flipPad3           {position:absolute; top:0; bottom:0; right:2em; margin:auto; height:2em;}
#flipPad1 a, #flipPad2 a, #flipPad3 a     {text-decoration: none; color: #fff;}
#flipPad1 .icon-open, #flipPad2 .icon-open, #flipPad3 .icon-open {font-size: 2em;}
#flipPad1 .icon-close, #flipPad2 .icon-close, #flipPad3 .icon-close{font-size: 2em;}
.flipBx1 h5, .flipBx2 h5, .flipBx3 h5           {position: absolute; bottom: 0; height: 1em; top: 0; margin: auto; left: 8em; font-size: 1.2em; text-transform: uppercase;}
.flipBx1 .bgLT-blue span        { width:60%; float: left;  margin: 2em 0 0 12em; font-size: .8em;}
.flipBx1 .bgLT-blue span h6 {font-size: 1.1em; line-height:1.3em; font-family:'dinmedium'; text-transform: uppercase;}
.flipBx2 .bgLT-red span        { width:60%; float: left;  margin:2em 0 0 12em; font-size: .8em;}
.flipBx2 .bgLT-red span h6 {font-size: 1.1em; line-height:1.3em; font-family:'dinmedium'; text-transform: uppercase;}
.flipBx3 .bgLT-orange span        { width:60%; float: left;  margin:2em 0 0 12em; font-size: .8em;}
.flipBx3 .bgLT-orange span h6 {font-size: 1.1em; line-height:1.3em; font-family:'dinmedium'; text-transform: uppercase;}

.whoisLogo {background-image: url(../images/whoIsLogo.png); background-size: contain; background-repeat: no-repeat; background-position: center; height: 37%;}
.woisSbTop {float: left; height:31%; margin-bottom: 1em; width: 100%;}
.woisSbBot {float: left; height: 65.4%; width: 100%; font-size: .9em;}
#ben_bx1close, #ben_bx2close , #ben_bx3close {display: none;}

/* CONTENT BOX BACKGROUNDS */
.bgLT-green  {background-color:#6ca58f; color: #fff; }
.bgLT-red	 {background-color:#dd6370; color: #fff; }
.bgLT-orange {background-color:#ec964e; color: #fff; }
.bgLT-blue   {background-color:#6ea9ef; color: #fff; }
.bgLT-gray   {background-color:#e4e4e4; color: #fff; }

.bg-green        {background-color:rgba(71, 143, 115, 0.6); cursor: pointer;}
.bg-green:hover  {background-color:rgba(71, 143, 115, 0.9);}
.bg-red          {background-color:rgba(213, 60, 76, 0.6); cursor: pointer;}
.bg-red:hover    {background-color:rgba(213, 60, 76, 0.9);}
.bg-orange       {background-color:rgba(238, 238, 238, 0.6); cursor: pointer;}
.bg-orange:hover {background-color:rgba(238, 238, 238, 0.9);}
.bg-blue         {background-color:rgba(74, 148, 235, 0.6); cursor: pointer;}
.bg-blue:hover   {background-color:rgba(74, 148, 235, 0.9);}

h3 {float: left; width: 100%; font-size: 1.3em; text-transform:uppercase;}
.centered>h3 {padding:1em 0 .5em 1em; width:calc(100% - 1em);}
.centered>p {padding: 1em; width:calc(100% - 2em); float: left;}
.orangeBorder_b { border-bottom:#e77c22 .1em solid;}

.header {background-color:#282a32; width: 100%; position: relative; right:-9999px; color:#fff; font-family: 'dinlight'; font-size:1.6em;}
.header span {margin:-.2em .5em 0 1em; font-size:1.5em;}
.header span.icon-close {font-size: 1em;}
#body4 span.icon-close {font-size: 2em; color:#b3b3b3; text-shadow: 1px 1px 2px #000;}
#body4 button {background: none; border: none; color: #fff; font-size: .7em;font-family:arial, sans-sarif; position: absolute; top:.5em; right:.5em; outline: none; z-index: 999;}
.header button {background: none; border: none; color: #fff; font-size: .7em;font-family:arial, sans-sarif; position: absolute; top:.5em; right:.5em; outline: none;}
.sldr_img {width: 100%; display: inline-block;}
.sldr_img img{width:60%; height: auto; margin: 0 auto;}
.sldr_txt{width:100%; font-size:1.5em; bottom: 1.5em; position: absolute; text-align:center; background: #fff; padding: 1em 0;}
.fullSliderTxt {width: calc(100% - 4em); margin:0 1em;  padding: 1em 1em 2.2em 1em; font-size: 1.5em; text-align: center; color: #fff; background:#7bafec; position: absolute; bottom:1em; }
.fullSliderImg {width:100%; display: inline-block;}
.fullSliderImg img{width:75%; height: auto; margin:2em auto;}

#actionSlider .bx-pager{margin-bottom:4em !important;}
#whatIsSlider .bx-pager.bx-default-pager a:hover,#whatIsSlider .bx-wrapper .bx-pager.bx-default-pager a.active,#whatIsSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#e77c22;}
#whatIsSlider .bx-pager.bx-default-pager a:hover, #whatIsSlider .bx-pager.bx-default-pager a.active, #whatIsSlider .bx-pager.bx-default-pager a:focus {background: #e77c22;}
#actionSlider .bx-pager.bx-default-pager a:hover,#actionSlider .bx-wrapper .bx-pager.bx-default-pager a.active,#actionSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#fff;}
#actionSlider .bx-pager.bx-default-pager a:hover, #actionSlider .bx-pager.bx-default-pager a.active, #actionSlider .bx-pager.bx-default-pager a:focus {background: #fff;}
#actionSlider .bx-pager.bx-default-pager a {background:#599ceb; }
#actionSlider .bx-wrapper {margin-bottom: -1px}
ul.bxslider li {height: inherit;}
ul.bxslider {height: inherit;}
ul.bxslider2 li {height: inherit;}
ul.bxslider2 {height: inherit;}
.hdSlide{right:0px !important;}
.bxslider {margin-top: 2em;}
.bx-wrapper { -webkit-box-shadow:none !important; box-shadow: none!important;}
.bxslider {visibility: hidden; }
.bxSlider_wrapper {opacity: 0;}
.bxSlider_wrapper2 {opacity: 0;}
.sldr_txt h2 {font-family:'dinmedium'; font-size: 1em; color:#e77c22; margin-bottom:.4em;}
.sldr_txt p {font-family: 'dinmedium'; font-size: .7em; color:#282a32;}
.sldr_txt ul {float: left; margin-left: 1em; margin-top: 1em;}
.sldr_txt ul li {font-family: 'din-regularregular'; font-size:.6em;color:#282a32; margin-bottom: 1em;}
.sldr_txt ul li:before {content: "\00BB \0020"; margin-left: -.8em; font-weight: bold; color: #e77c22; }
.bx-viewport {height: 100% !important;}
.bx-wrapper {height: 100% !important;}
.bxSlider_wrapper2>.bx-wrapper{background: none !important; border: 0 !important;}
#body2 {background-color:#eeeeee;}

/*  SECTIONS  */
.section {clear: both; padding: 0px; margin: 0px;}

/*  COLUMN SETUP  */
.col 			 {display: block; float:left; margin:0 0 1.6% 1.6%; border:1px solid #ccc inset; min-height: 100px;}
.col:first-child {margin-left: 0; }

/*  GROUPING  */
.group:before, .group:after {content:""; display:table; }
.group:after				{clear:both;}
.group 						{ zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 {width: 100%;}
.span_2_of_3 {width: 66.13%;}
.span_1_of_3 {width: 32.26%;}

/*  GRID OF TWO  */
.span_2_of_2 {width: 100%;}
.span_1_of_2 {width: 49.2%;}

.transition-header{

  -webkit-transition: right 1.7s ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: right 1.7s ease;  /* Firefox 4-15 */
       -o-transition: right 1.7s ease;  /* Opera 10.50–12.00 */
          transition: right 1.7s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.body	{background-color: #fff; height: 100%; width: 100%; display: inline-block; min-height: 400px; display: none;}

ul.bxslider li {}

/* ANIMATION */
.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
         -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
